In [1]:
from pyvis.network import Network
import networkx as nx
import numpy as np
from utils import build_nx_graph
import pandas as pd

In [12]:
sp500_hist = pd.read_csv(
    "sp500_hist_prices.csv",
    parse_dates=['Date'],
    index_col='Date'
)

sp500_hist = sp500_hist.loc['2015-01-01':,]

# drop columns with more than 60% NaN values
# sp500_hist.dropna(axis=1, inplace=True)

# # drop columns with negative values in it
sp500_hist.drop(
    columns=sp500_hist.columns[(sp500_hist < 0).any()].values, 
    axis=1,
    inplace=True)

# print(f'Shape: {sp500_hist.shape}')
# sp500_hist.head()

# sp500_hist.dropna(axis=0, inplace=True)
sp500_hist

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACGL,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-02,37.823849,51.079903,146.459579,24.565695,46.113235,79.364059,38.241337,19.496668,77.119682,72.339996,...,129.637009,28.097225,63.720268,48.605167,34.251171,44.513111,102.393478,77.430000,23.814734,40.952682
2015-01-05,37.115143,51.051491,144.529114,23.873646,45.245419,78.688522,38.249859,19.379999,75.817574,71.980003,...,127.430634,27.778292,61.976727,48.268211,32.119461,43.608700,106.213135,76.339996,22.922415,40.706844
2015-01-06,36.536957,50.255581,144.427490,23.875891,45.021481,79.118393,37.815487,19.423332,75.270683,70.529999,...,124.712379,27.926092,61.647266,47.669205,31.930571,43.073429,105.312767,75.790001,22.046934,40.309696
2015-01-07,37.021870,50.227150,147.531052,24.210676,46.841084,80.697617,38.122097,19.536667,76.850571,71.110001,...,128.375000,28.167236,62.271912,48.904675,32.182419,44.500801,107.931953,77.720001,22.257389,41.141811
2015-01-08,38.131599,50.843037,148.824203,25.140913,47.330963,80.881851,38.905670,19.876667,78.022469,72.919998,...,129.919373,28.493950,63.308403,50.112080,32.425278,45.276012,109.077820,79.379997,22.568857,41.775345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23,148.765411,12.710000,141.508774,131.658981,160.091415,169.487625,107.156876,63.380001,263.969421,338.450012,...,80.720001,69.885384,107.850105,31.583908,109.392502,128.309387,126.448685,248.220001,48.073280,145.418304
2022-12-27,149.084427,12.530000,143.227280,129.831772,159.983459,168.480743,107.543190,63.619999,263.195648,335.089996,...,84.330002,70.515961,109.348579,31.822052,110.379448,129.304794,127.037560,251.000000,48.460247,144.959396
2022-12-28,147.628967,12.320000,143.503815,125.847855,159.237457,166.845779,106.810188,62.599998,261.023102,328.329987,...,80.089996,70.008034,107.552391,30.740479,108.604927,128.717514,125.750015,246.839996,47.597012,143.492844
2022-12-29,150.619629,12.700000,144.501328,129.412415,159.561371,165.539810,109.266731,63.110001,266.241180,337.579987,...,81.260002,70.504051,108.366135,32.160191,111.296623,129.394394,127.586510,257.529999,48.698380,147.802704
2022-12-30,149.406601,12.720000,145.212418,129.731918,158.628891,165.200851,108.751656,62.779999,264.713440,336.529999,...,82.470001,69.551697,109.457741,31.721823,110.229912,127.493149,127.257141,256.410004,48.777756,146.206467

In [9]:
sp500_hist = sp500_hist.copy().loc['2015-01-01':,]

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACGL,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-02,37.823849,51.079903,146.459579,24.565695,46.113235,79.364059,38.241337,19.496668,77.119682,72.339996,...,129.637009,28.097225,63.720268,48.605167,34.251171,44.513111,102.393478,77.430000,23.814734,40.952682
2015-01-05,37.115143,51.051491,144.529114,23.873646,45.245419,78.688522,38.249859,19.379999,75.817574,71.980003,...,127.430634,27.778292,61.976727,48.268211,32.119461,43.608700,106.213135,76.339996,22.922415,40.706844
2015-01-06,36.536957,50.255581,144.427490,23.875891,45.021481,79.118393,37.815487,19.423332,75.270683,70.529999,...,124.712379,27.926092,61.647266,47.669205,31.930571,43.073429,105.312767,75.790001,22.046934,40.309696
2015-01-07,37.021870,50.227150,147.531052,24.210676,46.841084,80.697617,38.122097,19.536667,76.850571,71.110001,...,128.375000,28.167236,62.271912,48.904675,32.182419,44.500801,107.931953,77.720001,22.257389,41.141811
2015-01-08,38.131599,50.843037,148.824203,25.140913,47.330963,80.881851,38.905670,19.876667,78.022469,72.919998,...,129.919373,28.493950,63.308403,50.112080,32.425278,45.276012,109.077820,79.379997,22.568857,41.775345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23,148.765411,12.710000,141.508774,131.658981,160.091415,169.487625,107.156876,63.380001,263.969421,338.450012,...,80.720001,69.885384,107.850105,31.583908,109.392502,128.309387,126.448685,248.220001,48.073280,145.418304
2022-12-27,149.084427,12.530000,143.227280,129.831772,159.983459,168.480743,107.543190,63.619999,263.195648,335.089996,...,84.330002,70.515961,109.348579,31.822052,110.379448,129.304794,127.037560,251.000000,48.460247,144.959396
2022-12-28,147.628967,12.320000,143.503815,125.847855,159.237457,166.845779,106.810188,62.599998,261.023102,328.329987,...,80.089996,70.008034,107.552391,30.740479,108.604927,128.717514,125.750015,246.839996,47.597012,143.492844
2022-12-29,150.619629,12.700000,144.501328,129.412415,159.561371,165.539810,109.266731,63.110001,266.241180,337.579987,...,81.260002,70.504051,108.366135,32.160191,111.296623,129.394394,127.586510,257.529999,48.698380,147.802704
2022-12-30,149.406601,12.720000,145.212418,129.731918,158.628891,165.200851,108.751656,62.779999,264.713440,336.529999,...,82.470001,69.551697,109.457741,31.721823,110.229912,127.493149,127.257141,256.410004,48.777756,146.206467

In [4]:
sp500_hist.drop

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACGL,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2006-01-03,20.439508,35.305668,38.559849,2.272182,NaN,16.348289,12.590348,6.120000,21.528095,38.520000,...,29.771492,9.832613,32.591091,24.051765,NaN,12.118679,60.463249,42.830002,58.061222,NaN
2006-01-04,20.494427,36.955471,38.834522,2.278869,NaN,16.239967,12.609449,6.151111,21.645647,38.419998,...,29.716309,9.880271,32.646824,24.274343,NaN,12.222367,61.037167,42.410000,58.471172,NaN
2006-01-05,21.031340,37.436260,39.020573,2.260936,NaN,16.038809,12.771802,6.061111,21.807291,38.070000,...,29.539726,9.874971,32.485168,23.998352,NaN,12.743404,60.392624,42.529999,59.002590,NaN
2006-01-06,21.141167,36.766926,38.976273,2.319297,NaN,15.860854,13.016929,6.173333,22.887375,39.000000,...,29.821157,9.912039,33.126179,24.372272,NaN,12.707114,60.083572,44.119999,59.617485,NaN
2006-01-09,21.080151,36.399242,39.481319,2.311697,NaN,15.860854,13.500801,6.116667,22.821247,38.380001,...,31.228340,9.885561,33.109463,24.612658,NaN,12.805617,62.211487,44.790001,59.124062,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23,148.765411,12.710000,141.508774,131.658981,160.091415,169.487625,107.156876,63.380001,263.969421,338.450012,...,80.720001,69.885384,107.850105,31.583908,109.392502,128.309387,126.448685,248.220001,48.073280,145.418304
2022-12-27,149.084427,12.530000,143.227280,129.831772,159.983459,168.480743,107.543190,63.619999,263.195648,335.089996,...,84.330002,70.515961,109.348579,31.822052,110.379448,129.304794,127.037560,251.000000,48.460247,144.959396
2022-12-28,147.628967,12.320000,143.503815,125.847855,159.237457,166.845779,106.810188,62.599998,261.023102,328.329987,...,80.089996,70.008034,107.552391,30.740479,108.604927,128.717514,125.750015,246.839996,47.597012,143.492844
2022-12-29,150.619629,12.700000,144.501328,129.412415,159.561371,165.539810,109.266731,63.110001,266.241180,337.579987,...,81.260002,70.504051,108.366135,32.160191,111.296623,129.394394,127.586510,257.529999,48.698380,147.802704
2022-12-30,149.406601,12.720000,145.212418,129.731918,158.628891,165.200851,108.751656,62.779999,264.713440,336.529999,...,82.470001,69.551697,109.457741,31.721823,110.229912,127.493149,127.257141,256.410004,48.777756,146.206467